:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
.search-form {
  background-color: #fdfdfd;
  display: flex;
}

.example {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 59, 38);
  font-size: 26px;
}
.gallery {
  margin-top: 80px;
  display: grid;
  width: 100%;
  max-width: 1140px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}
.gallery__link {
  display: block;
  text-decoration: none;
  height: 210px;
}

.gallery__link:hover {
  cursor: zoom-in;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more {
  color: aliceblue;
  background-color: rgb(12, 59, 38);
  border: none;
  border-radius: 4px;
  margin: 10px auto;
  min-width: 400px;
  padding: 10px;
  cursor: pointer;
  display: none;
  transition: background-color var(--animation-duration) var(--timing-function);
}
.load-more:hover {
  background-color: rgb(12, 105, 63);
}

@keyframes changeShape {
  0% {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}
